@CHARSET "ISO-8859-1";
*{
	margin:0px;
	padding:0px;
}
.loginForm{
	width:100%;
	height:100%;
}
.loginForm form{
	width:500px;
	height:300px;
	margin:auto;
	margin-top:100px;
	border:1px solid black;
}
.loginForm form input,.loginForm form label{
	width:200px;
	height:25px;
	border-radius:2px;
	display:block;
	margin:auto;
}
.loginForm form h5{
	text-align:center;
	color:red;
	margin-bottom:10px;
}
